.MapSelectorModal {
    height: calc(90vh + 50px) !important;
    display: flex !important;
    align-items: end !important;

    .Content {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 2px 1px 1px #000;

        .Header {
            border-bottom: 2px solid #000;
            padding: 20px 30px 15px 45px;
            font-size: 24px;
        }

        .Body {
            .form-label {
                font-size: 21px;
                margin-left: 0.5rem;
            }

            .form-control {
                border: 2px solid #000;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 1px 1px #000;
                font-size: 21px;
            }

            .SetPlaceBtn {
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                background-color: #fff;
                font-size: 21px;
                color: #000;
                border: 2px solid #000;
                margin-bottom: 1rem;
            }

            .Map {
                width: 100%;
                height: 324px;
                border: 2px solid #000;
                border-radius: 1rem;
                overflow: hidden !important;
                margin-bottom: .5rem;
            }

            .SaveBtn {
                height: 60px;
                width: 100%;
                border-radius: 1rem;
                background-color: #18191F;
                font-size: 21px;
                color: #fff;
            }
        }
    }
}
