.UserChangePassword {
    padding: 24px;
    background-color: #fff;

    .Header {
        margin-top: 1.5rem;

        .GoBackBtn {
            width: 48px;
            height: 48px;
            border: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            box-shadow: 0 2px 1px 1px #000;

            img {
                width: 17px;
                height: 23px;
            }
        }

        .Title {
            font-size: 21px;
        }
    }

    .Data {
        .form-label{
            font-size: 21px;
        }

        .form-control {
            border: 2px solid #000;
            border-radius: 1rem;
            background-color: #fff;
            box-shadow: 0 2px 1px 1px #000;
            font-size: 21px;
        }

        .Save {
            height: 60px;
            width: 100%;
            border-radius: 1rem;
            background-color: #18191F;
            font-size: 21px;
            color: #fff;
        }
    }
}
