@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение восстановления пароля.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте ваш email для восстановления пароля.
</p>

