.ConfirmEmailError {
    background-color: #fff;
    padding: 24px;
    height: calc(95vh + 30px);

    .Icon {
        width: 161px;
        height: 161px;
        border-radius: 50%;
        border: 2px solid #000;
        background-color: #F95A2C;
        padding: 2rem;

        img {
            height: 100%;
            width: 100%;
        }
    }
}
