.ForgotPasswordStep1 {
    background-color: #fff;
    padding: 24px;
    height: calc(95vh + 30px);
    //display: flex;
    //flex-direction: column;
    //align-items: stretch;

    .Actions {
        margin-top: 1.5rem;

        .Close {
            width: 48px;
            height: 48px;
            padding: .7rem;
            border: 2px solid #000;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .Text {
        color: #474A57;
        font-size: 21px;
        text-align: left;
    }

    .Data {
        .input-group {
            background-color: #fff;

            .input-group-text {
                border-top: 2px solid #000;
                border-right: 0;
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
                border-radius: 15px;
                background-color: #fff !important;
            }

            input.form-control.form-control-lg, .form-select {
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus {
                    background-color: rgb(255,255,255) !important;
                    font-size: 21px !important;
                }

                border-top: 2px solid #000;
                border-right: 2px solid #000;
                border-left: 0;
                border-bottom: 2px solid #000;
                border-radius: 15px;
                background-color: #fff !important;
                font-size: 21px !important;

                &:focus {
                    background-color: #fff !important;
                    //box-shadow: 0 0 10px rgb(0 0 0 / 15%);
                }

                &::placeholder {
                    font-size: 21px !important;
                    color: lightgray;
                }
            }
        }

        .Send {
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            border: 2px solid #000;
            background-color: #FFBD12;
            color: #000;
            font-size: 21px;
            box-shadow: 0 2px 1px 1px #000;
        }
    }
}
